@keyframes inputErrorShake {
    0% { border: 2px solid var(--red-60); transform: translate(1px); }
    10% { transform: translateX(-1px) ; }
    20% { transform: translate(-3px)  }
    30% { transform: translate(3px)  }
    40% { transform: translate(1px)  }
    50% { transform: translate(-1px) ; }
    60% { transform: translate(-3px)  }
    70% { transform: translate(3px) ; }
    80% { transform: translate(-1px)  }
    90% { transform: translate(1px)  }
    100% {  border: 2px solid var(--red-60); transform: translate(1px) ; }
  }