.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100vw;
    padding: 0 16px;
    backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--gray-20);
}

.header .brand {
    color: black;
    font-weight: 600;
    font-family: var(--accent-font);
    text-decoration: none;
}

.header svg,
.header img {
    height: 24px;
    width: 24px;
}