.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-height: calc(100vh);
    overflow-y: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.modal {
    display: block;
    min-width: 400px;
    max-width: 80%;
    margin: auto;
    margin-top: 200px;
    padding: 15px;
    border-radius: var(--border-radius);
    z-index: 2;
    background-color: var(--gray-10);
}

.dark .modal {
    background-color: var(--gray-90);
}

.modal .modal-title {
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 600;
}

.modal label {
    display: block;
    font-size: 12px;
    padding-left: 4px;
    margin-bottom: 4px;
}

.modal input[type=text] {
    display: block;
    margin-bottom: 16px;
    border: 2px solid var(--gray-40);
    width: 100%;
}

.dark .modal input[type="text"] {
    border: 2px solid var(--gray-60);
    background-color: var(--gray-100);
}

.modal input:focus {
    border: 2px solid var(--blue-60);
}