.new-task h1 {
    margin-bottom: 8px;
}

.new-task form * {
    margin-top: 12px;
}

.new-task input[type=text] {
    width: 100%;
    border: 1px solid var(--gray-60);
}

.new-task .justify-right {
    display: flex;
    justify-content: right;
    width: 100%;
}
