.tasks {
    padding: var(--default-padding);
}

.dark .tasks * {
    color: var(--gray-20);
}

.tasks .actions {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.tasks .actions * {
    display: block;
}

.tasks .search,
.tasks .new-task {
    display: flex;
    align-items: center;
    height: 54px;
    margin-left: calc(0px - var(--default-padding));
    margin-right: calc(0px - var(--default-padding));
    padding: 0 var(--default-padding);
    border-bottom: 1px solid var(--gray-20);
}

.tasks .search-focused {
    background-color: var(--gray-10);
}

/* backgroundColor: searchFocused ? 'var(--gray-10)' : 'transparent', */

.tasks .new-task {
    background-color: var(--gray-10);
    animation: focusNewTask 500ms ease-out;
}

.dark .tasks .new-task {
    animation: focusNewTaskDark 500ms ease-out;
}

.dark .tasks .search,
.dark .tasks .new-task {
    background-color: var(--gray-80);
    border-bottom: 1px solid var(--gray-70);
}

.tasks .search svg {
    height: 16px;
    width: 16px;
    color: var(--gray-60);
}

.tasks .search input,
.tasks .new-task input {
    width: 100%;
    font-size: 15px;
    background-color: transparent;
}

.tasks .no-tasks {
    margin-top: 32px;
    text-align: center;
}

@keyframes focusNewTask {
    0% {
        background-color: var(--blue-30);
    }
    100% {
        background-color: var(--gray-10);
    }
}

@keyframes focusNewTaskDark {
    0% {
        background-color: var(--blue-60);
    }
    100% {
        background-color: var(--gray-70);
    }
}